{
    "swagger": "2.0",
    "info": {
        "title": "Captain Documentation",
        "description": "Captain APIS Documentation",
        "termsOfService": "",
        "contact": {
            "email": ""
        },
        "version": "Beta"
    },
    "host": "delivery.zadfresh.com",
    "basePath": "/api",
    "schemes": [
        "http"
    ],
    "paths": {
        "/v1/login": {
            "post": {
                "tags": [
                    "Driver Auth"
                ],
                "summary": "Driver Login",
                "description": "Driver Login with Username and Password",
                "operationId": "login",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "user_name",
                        "in": "formData",
                        "description": "Driver Username",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "password",
                        "in": "formData",
                        "description": "Driver Password",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation returns driver token",
                        "schema": {
                            "properties": {
                                "message": {
                                    "type": "string"
                                },
                                "data": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Validation Errors",
                        "schema": {
                            "properties": {
                                "message": {
                                    "type": "string",
                                    "default": "Fields are invalid"
                                },
                                "details": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "username and password are not correct",
                        "schema": {
                            "properties": {
                                "message": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "SERVER ERROR",
                        "schema": {
                            "properties": {
                                "message": {
                                    "type": "string",
                                    "default": "Server Error"
                                },
                                "details": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "default": []
                    }
                ]
            }
        },
        "/v1/logout": {
            "get": {
                "tags": [
                    "Driver Auth"
                ],
                "summary": "Driver Logout",
                "operationId": "logout",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "Driver token",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Driver Logged out successfully",
                        "schema": {
                            "properties": {
                                "message": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "SERVER ERROR",
                        "schema": {
                            "properties": {
                                "message": {
                                    "type": "string",
                                    "default": "Server Error"
                                },
                                "details": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "default": []
                    }
                ]
            }
        },
        "/v1/tasks-bulk/createUnAssignedBulkOfTasks": {
            "post": {
                "tags": [
                    "bulk"
                ],
                "summary": "create un assigned bulk of tasks",
                "description": "Multiple status values can be provided with comma separated strings",
                "operationId": "createUnAssignedBulkOfTasks",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "tasks",
                        "in": "query",
                        "description": "",
                        "required": true,
                        "type": "array",
                        "items": {
                            "type": "string",
                            "default": "available",
                            "enum": [
                                "available",
                                "pending",
                                "sold"
                            ]
                        },
                        "collectionFormat": "multi"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Pet"
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid status value"
                    }
                },
                "security": [
                    {
                        "petstore_auth": [
                            "write:pets",
                            "read:pets"
                        ]
                    }
                ]
            }
        },
        "/v1/profile": {
            "get": {
                "tags": [
                    "Profile"
                ],
                "summary": "Driver Profile",
                "description": "Get driver profile information",
                "operationId": "edit",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "Token",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "driver_id",
                        "in": "query",
                        "description": "Driver ID",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation returns success message",
                        "schema": {
                            "properties": {
                                "message": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Validation Errors",
                        "schema": {
                            "properties": {
                                "message": {
                                    "type": "string",
                                    "default": "Fields are invalid"
                                },
                                "details": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Driver not found",
                        "schema": {
                            "properties": {
                                "message": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "SERVER ERROR",
                        "schema": {
                            "properties": {
                                "message": {
                                    "type": "string",
                                    "default": "Server Error"
                                },
                                "details": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "default": []
                    }
                ]
            }
        },
        "/v1/profile/edit": {
            "post": {
                "tags": [
                    "Profile"
                ],
                "summary": "Update Driver Profile",
                "description": "Update Driver Profile Info",
                "operationId": "edit",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "Token",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "driver_id",
                        "in": "formData",
                        "description": "Driver ID",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "name",
                        "in": "formData",
                        "description": "Driver Name",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "username",
                        "in": "formData",
                        "description": "Driver Username",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "image",
                        "in": "formData",
                        "description": "Driver Image",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "mobile",
                        "in": "formData",
                        "description": "Driver Mobile",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation returns success message",
                        "schema": {
                            "properties": {
                                "message": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Validation Errors",
                        "schema": {
                            "properties": {
                                "message": {
                                    "type": "string",
                                    "default": "Fields are invalid"
                                },
                                "details": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Driver not found",
                        "schema": {
                            "properties": {
                                "message": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "SERVER ERROR",
                        "schema": {
                            "properties": {
                                "message": {
                                    "type": "string",
                                    "default": "Server Error"
                                },
                                "details": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "default": []
                    }
                ]
            }
        },
        "/v1/start-shift": {
            "get": {
                "tags": [
                    "Shifts"
                ],
                "description": "Start driver shift: make him in duty and capture start date",
                "operationId": "startShift",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "Token",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "driver_id",
                        "in": "query",
                        "description": "Token",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "400": {
                        "description": "Validation Errors",
                        "schema": {
                            "properties": {
                                "message": {
                                    "type": "string",
                                    "default": "Fields are invalid"
                                },
                                "details": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "Successful operation returns success message",
                        "schema": {
                            "properties": {
                                "message": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "SERVER ERROR",
                        "schema": {
                            "properties": {
                                "message": {
                                    "type": "string",
                                    "default": "Server Error"
                                },
                                "details": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "default": []
                    }
                ]
            }
        },
        "/v1/end-shift": {
            "get": {
                "tags": [
                    "Shifts"
                ],
                "description": "End driver shift: make him off duty and capture end date",
                "operationId": "endShift",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "Token",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "400": {
                        "description": "Validation Errors",
                        "schema": {
                            "properties": {
                                "message": {
                                    "type": "string",
                                    "default": "Fields are invalid"
                                },
                                "details": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "Successful operation returns success message",
                        "schema": {
                            "properties": {
                                "message": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "SERVER ERROR",
                        "schema": {
                            "properties": {
                                "message": {
                                    "type": "string",
                                    "default": "Server Error"
                                },
                                "details": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "default": []
                    }
                ]
            }
        },
        "/v1/profile/tasks-history": {
            "get": {
                "tags": [
                    "Profile"
                ],
                "summary": "Driver Tasks' History",
                "description": "get all tasks' history for each driver",
                "operationId": "getTasksHistory",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "driver_id",
                        "in": "query",
                        "description": "Driver ID",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "tasks history",
                        "schema": {
                            "properties": {
                                "data": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Validation Errors",
                        "schema": {
                            "properties": {
                                "message": {
                                    "type": "string",
                                    "default": "Fields are invalid"
                                },
                                "details": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "driver hasn't tasks' history",
                        "schema": {
                            "properties": {
                                "message": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "SERVER ERROR",
                        "schema": {
                            "properties": {
                                "success": {
                                    "type": "boolean",
                                    "default": false
                                },
                                "message": {
                                    "type": "string",
                                    "default": "Server Error"
                                },
                                "details": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "default": []
                    }
                ]
            }
        },
        "/v1/tasks/deliver-task": {
            "post": {
                "tags": [
                    "Task"
                ],
                "summary": "Driver Can Deliver Task",
                "description": "Driver Can Deliver Task",
                "operationId": "deliverTask",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "task_id",
                        "in": "formData",
                        "description": "Task ID to deliver",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "properties": {
                                "message": {
                                    "type": "string",
                                    "default": "Task delivered Successfully"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Failed Operation",
                        "schema": {
                            "properties": {
                                "message": {
                                    "type": "string",
                                    "default": "Fields are invalid"
                                },
                                "details": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "SERVER ERROR",
                        "schema": {
                            "properties": {
                                "success": {
                                    "type": "boolean",
                                    "default": false
                                },
                                "message": {
                                    "type": "string",
                                    "default": "Server Error"
                                },
                                "details": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "default": []
                    }
                ]
            }
        },
        "/v1/tasks/acknowledge-task-failure": {
            "post": {
                "tags": [
                    "Task"
                ],
                "summary": "Driver Can Acknowledge Task Failure",
                "description": "Driver Can Acknowledge Task Failure",
                "operationId": "acknowledgeTaskFailure",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "task_id",
                        "in": "formData",
                        "description": "Task ID to acknowledge failure",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "properties": {
                                "message": {
                                    "type": "string",
                                    "default": "Task Failure"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Failed Operation",
                        "schema": {
                            "properties": {
                                "message": {
                                    "type": "string",
                                    "default": "Fields are invalid"
                                },
                                "details": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "SERVER ERROR",
                        "schema": {
                            "properties": {
                                "success": {
                                    "type": "boolean",
                                    "default": false
                                },
                                "message": {
                                    "type": "string",
                                    "default": "Server Error"
                                },
                                "details": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "default": []
                    }
                ]
            }
        },
        "/v1/tasks/assign-task": {
            "post": {
                "tags": [
                    "Task"
                ],
                "summary": "Admin Can Assign task to driver",
                "description": "Admin Can Assign task to driver",
                "operationId": "assignTask",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "task_id",
                        "in": "formData",
                        "description": "Task ID to be assigned",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "driver_id",
                        "in": "formData",
                        "description": "Driver ID to assign",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "properties": {
                                "message": {
                                    "type": "string",
                                    "default": "Task is assigned successfully"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Failed Operation",
                        "schema": {
                            "properties": {
                                "message": {
                                    "type": "string",
                                    "default": "Fields are invalid"
                                },
                                "details": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "SERVER ERROR",
                        "schema": {
                            "properties": {
                                "success": {
                                    "type": "boolean",
                                    "default": false
                                },
                                "message": {
                                    "type": "string",
                                    "default": "Server Error"
                                },
                                "details": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "default": []
                    }
                ]
            }
        },
        "/v1/tasks/reassign-task": {
            "post": {
                "tags": [
                    "Task"
                ],
                "summary": "Admin Can Reassign task to driver",
                "description": "Admin Can Reassign task to driver",
                "operationId": "ReassignTask",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "task_id",
                        "in": "formData",
                        "description": "Task ID to be reassigned",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "driver_id",
                        "in": "formData",
                        "description": "Driver ID to reassign",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "properties": {
                                "message": {
                                    "type": "string",
                                    "default": "Task is reassigned successfully"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Failed Operation",
                        "schema": {
                            "properties": {
                                "message": {
                                    "type": "string",
                                    "default": "Fields are invalid"
                                },
                                "details": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "SERVER ERROR",
                        "schema": {
                            "properties": {
                                "success": {
                                    "type": "boolean",
                                    "default": false
                                },
                                "message": {
                                    "type": "string",
                                    "default": "Server Error"
                                },
                                "details": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "default": []
                    }
                ]
            }
        },
        "/v1/tasks/acknowledge-task-arrival": {
            "post": {
                "tags": [
                    "Task"
                ],
                "summary": "Driver Can Acknowledge Task Arrival",
                "description": "Driver Can Acknowledge Task Arrival",
                "operationId": "acknowledgeTaskArrival",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "task_id",
                        "in": "formData",
                        "description": "Task ID to acknowledge arrival",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "properties": {
                                "message": {
                                    "type": "string",
                                    "default": "Task Arrival"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Failed Operation",
                        "schema": {
                            "properties": {
                                "message": {
                                    "type": "string",
                                    "default": "Fields are invalid"
                                },
                                "details": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "SERVER ERROR",
                        "schema": {
                            "properties": {
                                "success": {
                                    "type": "boolean",
                                    "default": false
                                },
                                "message": {
                                    "type": "string",
                                    "default": "Server Error"
                                },
                                "details": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "default": []
                    }
                ]
            }
        },
        "/v1/tasks/ready-tasks": {
            "get": {
                "tags": [
                    "Task"
                ],
                "summary": "Driver Can see ready tasks",
                "description": "Driver Can see ready tasks",
                "operationId": "readyTasks",
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "properties": {
                                "status": {
                                    "type": "string",
                                    "default": 200
                                },
                                "success": {
                                    "type": "boolean",
                                    "default": true
                                },
                                "data": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/definitions/Task"
                                    }
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "SERVER ERROR",
                        "schema": {
                            "properties": {
                                "success": {
                                    "type": "boolean",
                                    "default": false
                                },
                                "message": {
                                    "type": "string",
                                    "default": "Server Error"
                                },
                                "details": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "default": []
                    }
                ]
            }
        },
        "v1/webhooks": {
            "post": {
                "tags": [
                    "Company"
                ],
                "description": "Add webhook to comapny",
                "operationId": "addWebhook",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "url",
                        "in": "formData",
                        "description": "Webhook url",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "code",
                        "in": "formData",
                        "description": "Webhook code",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "company_id",
                        "in": "formData",
                        "description": "Company ID. Later we may will not need this field, it may replaced by company authentication key",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation returns success message",
                        "schema": {
                            "properties": {
                                "message": {
                                    "type": "string"
                                },
                                "data": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Validation Errors",
                        "schema": {
                            "properties": {
                                "message": {
                                    "type": "string",
                                    "default": "Fields are invalid"
                                },
                                "details": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "SERVER ERROR",
                        "schema": {
                            "properties": {
                                "message": {
                                    "type": "string",
                                    "default": "Server Error"
                                },
                                "details": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "default": []
                    }
                ]
            }
        }
    },
    "definitions": {
        "Pet": {
            "required": [
                "name",
                "photoUrls"
            ],
            "properties": {
                "id": {
                    "type": "integer",
                    "format": "int64"
                },
                "name": {
                    "type": "string",
                    "example": "doggie"
                },
                "category": {},
                "photoUrls": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    },
                    "xml": {
                        "name": "photoUrl",
                        "wrapped": true
                    }
                },
                "tags": {
                    "type": "array",
                    "items": {},
                    "xml": {
                        "name": "tag",
                        "wrapped": true
                    }
                },
                "status": {
                    "description": "pet status in the store",
                    "type": "string",
                    "enum": [
                        "available",
                        "pending",
                        "sold"
                    ]
                }
            },
            "type": "object",
            "xml": {
                "name": "Pet"
            }
        },
        "Task": {
            "properties": {
                "id": {
                    "type": "integer",
                    "format": "int64"
                },
                "address": {
                    "type": "string",
                    "format": "string"
                },
                "awb": {
                    "type": "integer",
                    "format": "int64"
                },
                "lat": {
                    "type": "integer",
                    "format": "int64"
                },
                "long": {
                    "type": "integer",
                    "format": "int64"
                },
                "driver_id": {
                    "type": "integer",
                    "format": "int64"
                },
                "bulk_id": {
                    "type": "integer",
                    "format": "int64"
                },
                "company_id": {
                    "type": "integer",
                    "format": "int64"
                },
                "customer_name": {
                    "type": "integer",
                    "format": "int64"
                },
                "customer_phone": {
                    "type": "string",
                    "format": "string"
                },
                "city": {
                    "type": "string",
                    "format": "string"
                },
                "area": {
                    "type": "string",
                    "format": "string"
                },
                "country": {
                    "type": "string",
                    "format": "string"
                },
                "street_number": {
                    "type": "integer",
                    "format": "int64"
                },
                "street_name": {
                    "type": "string",
                    "format": "string"
                },
                "complete_after": {
                    "type": "string",
                    "format": "date-time"
                },
                "complete_before": {
                    "type": "string",
                    "format": "date-time"
                },
                "pick_up_address": {
                    "type": "string",
                    "format": "string"
                },
                "pick_up_lat": {
                    "type": "integer",
                    "format": "int64"
                },
                "pick_up_long": {
                    "type": "integer",
                    "format": "int64"
                }
            },
            "type": "object"
        },
        "User": {
            "properties": {
                "id": {
                    "type": "integer",
                    "format": "int64"
                },
                "name": {
                    "type": "string",
                    "format": "string"
                },
                "email": {
                    "type": "string",
                    "format": "string"
                }
            },
            "type": "object"
        }
    },
    "securityDefinitions": {
        "default": {
            "type": "apiKey",
            "name": "Authorization",
            "in": "header"
        }
    },
    "externalDocs": {
        "description": "",
        "url": ""
    }
}